<div class="row mt-3">
    <div class="col-12">
        <app-list-title title="Lista de Produtos" link="/products/new" buttonText="Inserir novo Produto"></app-list-title>
        <app-alert #alert></app-alert>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th style="max-width: 150px;">Nome</th>
                <th style="max-width: 150px;">Descrição</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
            <tr *ngFor="let item of items">
                <td>{{ item.id }}</td>
                <td style="max-width: 150px; overflow: hidden;">
                    {{ item.name }}
                    <span *ngIf="!item.active" class="badge badge-secondary">inativo</span>
                </td>
                <td style="max-width: 150px; overflow: hidden;">{{ item.description }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <div class="btn-group">
                        <a [routerLink]="'/products/' + item.id " class="btn btn-success">Alterar</a>
                        <a [routerLink]="'/products/' + item.id + '/ratings'" class="btn btn-info">Ver avaliações</a>
                        <button type="button" class="btn btn-danger" (click)="delete(item.id)">Excluir</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>